* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eef2f5;
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.ticket {
    background: white;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 5px 5px 0px #333;
}

h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px dashed #ccc;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#lista_productos {
    font-weight: bold;
    color: #007acc;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
}

button {
    background: #007acc;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background: #005fa3;

}

.total {
    font-size: 1.8rem;
    font-weight: bold;
    color: #e74c3c;
    text-align: right;
    margin-top: 20px;
}